<div>
        <table *ngIf= "companies">
            <tr>
                <th>title</th>
                <th>category</th>
                <th>description</th>
                <th>startDate</th>
                <th>endDate</th>
                <th>amount</th>
                <th>price</th>
                <th>image</th>
            </tr>
            <tr *ngFor="let coupon of coupons">
                <td>{{coupon.title}}</td>
                <td>{{coupon.category}}</td>
                <td>{{coupon.description}}</td>
                <td>{{coupon.startDate}}</td>
                <td>{{coupon.endDate}}</td>
                <td>{{coupon.amount}}</td>
                <td>{{coupon.price}}</td>
                <td>{{coupon.image}}</td>
         <td>
                <input type="button" value="delete" #id (click)="deleteCoupon(coupon.id)"/><br/>
         </td>
    
            </tr>
    
        </table>
         
        </div>