<section>
    <header>
<app-header></app-header>  
      <link href="https://fonts.googleapis.com/css?family=Aguafina+Script|Aladin|Almendra|Almendra+SC|Amiri|Arbutus|Averia+Serif+Libre|Bilbo+Swash+Caps|Butcherman|Caesar+Dressing|Cantata+One|Ceviche+One|Charm|Chela+One|Condiment|Cookie|Creepster|Damion|Dr+Sugiyama|Eagle+Lake|Eater|Engagement|Ewert|Fredericka+the+Great|Frijole|Great+Vibes|Hanalei+Fill|IM+Fell+DW+Pica|IM+Fell+DW+Pica+SC|IM+Fell+English+SC|Inknut+Antiqua|Italianno|Kaushan+Script|Knewave|Luckiest+Guy|Marck+Script|MedievalSharp|Metal+Mania|Mirza|Modak|Monoton|Mr+Dafoe|New+Rocker|Niconne|Noto+Sans+TC|Oleo+Script|Oleo+Script+Swash+Caps|Pacifico|Pirata+One|Rakkas|Redressed|Romanesco|Rye|Sancreek|Seaweed+Script|Shojumaru|Shrikhand|Special+Elite|UnifrakturCook:700|UnifrakturMaguntia&display=swap" rel="stylesheet"> 
    </header>
    <main><router-outlet></router-outlet></main>
    <footer><app-footer></app-footer></footer>
</section>